.connected-icon {
  position: absolute;
  right: 48px;
  top: 34px;
  display: block;
  width: 32px;
  height: 32px;
  background: url(/images/power-cord.svg);
}

.connected-icon:before {
  content: '';
  position: absolute;
  left: -16px;
  top: 8px;
  bottom: 8px;
  right: 32px;
  background-size: contain;
}

.connected-icon--connected:before {
  background-image: url(/images/checkmark.svg);
}

.connected-icon--disconnected:before {
  background-image: url(/images/cross.svg);
}
